.nav_bar{
    display: flex;
    height: 70px;
    width: 100%;
    background-image: url(../img/blue-smooth-wall-textured-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#Logo{
    height: 50px;
    width: 50px;
    margin: 0 0 0 40px ;
}
#Nav_title{
    font-size: 30px;
    color: rgb(182, 58, 58);
}
.Nav_Content{
    display: flex;
    margin: 15px 0 0 20px;
    padding: 10px;
}
#Nav_Pages{
    font-size: 18px;
    margin: 0 0 0 30px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: red;
  transition: 1s;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(2) {
    background-color: #dfe2d8;
    opacity: 0.8;
  }
  tr:nth-child(3){
    background-color: rgb(248, 238, 248);
    opacity: 0.8;
  }
   tr:nth-child(4){
    background-color: rgb(219, 213, 219);
    opacity: 0.8;
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 20px;
    color: rgb(207, 207, 35);
  }
  #anchor{
    text-align:center;
    color: rgb(85, 169, 207);
  }
 