*{
  margin: 0;
  padding: 0;
}
.nav_bar{
    display: flex;
    height: 70px;
    width: 100%;
    background-image: url(../img/blue-smooth-wall-textured-background.jpg);
}
.Style{
  font-family: "Dancing Script",cursive;
}
#Logo{
    height: 50px;
    width: 50px;
    margin: 0 0 0 40px ;
}
#Nav_title{
    font-size: 30px;
    color: rgb(182, 58, 58);
}
.Nav_Content{
    display: flex;
    margin: 15px 0 0 20px;
    padding: 10px;
}
#Nav_Pages{
    font-size: 18px;
    margin: 0 0 0 30px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: red;
  transition: 1s;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(2) {
    background-color: #dfe2d8;
    opacity: 0.8;
  }
  tr:nth-child(3){
    background-color: rgb(248, 238, 248);
    opacity: 0.8;
  }
   tr:nth-child(4){
    background-color: rgb(219, 213, 219);
    opacity: 0.8;
  }
  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 20px;
    color: rgb(207, 207, 35);
  }
  #anchor{
    text-align:center;
    color: rgb(85, 169, 207);
  }
  .Footer{
    display: flex;
    height: 230px;
    width: 100%;
    background-color: #232946;
    margin-top: 100px;
    justify-content: center;
}
.G-11{
    margin: 30px 0 0 30px;
    height: 230px;
    width: 370px;
}
.Quick{
    display: flex;
}
#Quick_Left{
    height: 100px;
    width: 100px;
    margin-left: 60px;
}
#Quick_Right{
    height: 100px;
    width: 150px;
}
#Footer_img{
    height: 50px;
    width: 50px;
}
#Footer_heading{
    font-size: 25px;
    color: white;
}
#Footer_Icon{
    margin: 20px 0 0 10px;
    height: 30px;
    width: 30px;
}
#Heading{
    font-size: 25px;
    color: white;
    margin: 0 0 10px 40px;
}
#Quick_Content{
    color: white;
    margin: 10px;
}
#Contact_heading{
    margin-left: 50px;
    color: white;
    margin-bottom: 10px;
}
#Contact{
    margin-left: 50px;
    color: white;
}
#location{
    height: 20px;
    width: 20px;
}
#Copy{
    background-color: #232946;
    text-align: center;
    color: white;
    height: 50px;
}
 