*{
    margin: 0;
    padding: 0;
}
.Style{
    font-family: "Dancing Script",cursive;
}
.nav_bar{
    display: flex;
    height: 70px;
    width: 100%;
    background-image: url(../img/blue-smooth-wall-textured-background.jpg);
}
#Logo{
    height: 50px;
    width: 50px;
    margin: 0 0 0 40px ;
}
#Nav_title{
    font-size: 30px;
    color: white;
}
.Nav_Content{
    display: flex;
    margin: 15px 0 0 20px;
    padding: 10px;
}
#Nav_Pages{
    font-size: 18px;
    margin: 0 0 0 30px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
    transition: 1s;
}
.index{
    height: 550px;
    width: 100vw;
}

.home{
    display: flex;
    height: 590px;
    margin-top: 40px;
    width: 100%;
}
.Left_Home{
    height: 300px;
    width: 450px;
    margin: 150px 0 0 150px; 
}
#home_heading{
    font-size: 30px;
    text-align: center;
}
#home_heading_1{
    font-size: 50px;
    color: #232946;
    font-weight: 900;
   text-align: center;
}
#Medal_img{
    height: 50px;
    width:50px;
}
#home_heading_2{
    font-size: 30px;
    color: red;
    text-align: center;
}
.Right-Home{
    height: 500px;
    width: 450px;
    margin: 0 0 0 230px;
}
#img{
    height: 550px;
    width: 500px;
}
.Container{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 100%;
    margin-top: 50px;
}
.Content{
    height: 350px;
    width: 550px;
    background-color: #232946;
    margin: 50px 0 0 50px;
    border-radius: 10px;
}
.Content:hover{
    box-shadow: 0 0 20px 7px  #232946;
    transition: 1s;
    cursor: pointer;
}
#Content_Heading{
    font-size: 50px;
    color: white;
    margin: 10px;
}
#Content_Decription{
    margin: 10px;
    color: white;
}
#Content_btn{
    display: flex;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #ffdb4d;
    border: none;
}
#Content_btn:hover{
    background-color: #ffa31a;
    transition: 1s;
    cursor: pointer;
}
#Champian_heading{
    margin-top: 50px;
    font-size:50px;
    text-align: center;
}
.Winners{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#Champian{
    height: 200px;
    width: 200px;
    margin: 50px 0 0 20px;
    border-radius: 20%;
}
#Champian:hover{
    box-shadow: 0 0 10px 7px gray;
    cursor: pointer;
    border: 2px solid black;
}
.Footer{
    display: flex;
    height: 230px;
    width: 100%;
    background-color: #232946;
    margin-top: 100px;
    justify-content: center;
}
.G-11{
    margin: 30px 0 0 30px;
    height: 230px;
    width: 370px;
}
.Quick{
    display: flex;
}
#Quick_Left{
    height: 100px;
    width: 100px;
    margin-left: 60px;
}
#Quick_Right{
    height: 100px;
    width: 150px;
}
#Footer_img{
    height: 50px;
    width: 50px;
}
#Footer_heading{
    font-size: 25px;
    color: white;
}
#Footer_Icon{
    margin: 20px 0 0 10px;
    height: 30px;
    width: 30px;
}
#Heading{
    font-size: 25px;
    color: white;
    margin: 0 0 10px 40px;
}
#Quick_Content{
    color: white;
    margin: 10px;
}
#Contact_heading{
    margin-left: 50px;
    color: white;
    margin-bottom: 10px;
}
#Contact{
    margin-left: 50px;
    color: white;
}
#location{
    height: 20px;
    width: 20px;
}
#Copy{
    background-color: #232946;
    text-align: center;
    color: white;
    height: 50px;
}
