.Shopping{
    display: flex;
  
    

  

}
.parent{
    border: 1px solid black;
   
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 60px;

  
    
}
.parent:hover{
    box-shadow: 0px 0px 10px  5px gray;
   
}
.img1{
    margin-left: 50px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
    
}
.img1:hover{
  transform: scale(1.1);
}
.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 10px;
}
.price{
    font-size: 20px;
    font-weight: 500;    
}
.size{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;  
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #ff0000;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}
.psize.active{
    border-width: 1.5px;
    color: #3333ff;
    font-weight: 500;
}
.quantity{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.quantity p{
    font-size: 18px;
    font-weight: 500;
}
.quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
.btn-box button{
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    margin: 10px;
}
.cart-btn{
    background-color: #ffcc00;
    margin-right: 20px;
}
.buy-btn{
    background-color: #ffcc00;
}
.cart-btn:hover{
    background-color: #ff9933;
    transition: 0.5s;
}
.buy-btn:hover{
    background-color: #ff9933;
    transition: 0.5s;
}
.star{
    margin-left: 10px;
}