.card{

        background-color: rgb(249, 249, 249);
        width: 350px;
        height: 370px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        margin-top: 50px;
        margin-bottom: 80px;
        display: block;
        border: 3px solid rgb(23, 23, 56);
        box-shadow: 0px 0px 0px 0px rgb(23, 23, 56);
        
    }
.card:hover{
    box-shadow: 1px 1px 1px 1px rgb(23, 23, 56);
}
    .card-img{
        width:320px;
        display: block;
        margin: 5px auto;
        border-radius: 10px;
    }
.card-flex{
    display:flex;
    justify-content: space-around;
}
.Container-game{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 100%;
    margin-top: 50px;

}
.Content-game{
    height: 450px;
    width: 550px;
    background-color: #233545;
    margin: 50px 0 0 50px;
    border-radius: 10px;
}
#Content_Heading-game{
    font-size: 50px;
    color: white;
    margin: 10px;
}
#Content_Decription-game{
    margin: 10px;
    color: white;
}
#Content_btn-game{
    display: flex;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: rgb(227, 194, 29);
    border: none;
    cursor:pointer;
}
#Content_btn-game:hover{
    box-shadow: 2px 2px 2px 2px black;
}
.Content-game:hover{
    box-shadow: 2px 2px 2px 2px black;
}