.main{
    height: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    height: 400px;
    width: 350px;
    margin: 50px 0 0 60px;
    border: 1px solid black;
    border-radius: 10px;

}
.card:hover{
    box-shadow: 0 0 10px 5px grey;
}

#swimming-img{
    height:200px;
    width: 250px;
    border-radius: 10px;
    margin-right:20px ;
  padding: 15px;
   
}

#basketball-img{
    height:200px;
    width: 340px;
    border-radius: 10px;
}

#heading{
   font-size: 30px;
   margin-top: 20px; 
   text-decoration: none;
   text-align: center;
}

.button{
 font-size: 18px;
 padding: 10px 20px;
 border: none;
 cursor: pointer;
 border-radius:20px ;
   margin: 10px;
background-color: #ffcc00;
 text-align: center;
margin-left:110px;
}

.button:hover{
    border-radius: 20px;
    background-color: #ff9933;
    transition: 0.5s;
   color: black;
   text-align: center;
}
   
.sub-heading{
    color: brown;
}

.quote{
    text-align: center;
}



